body{
    margin:0;
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

header{
    background: black;
    padding: 20px;
}

button{
    padding: 10px 20px;
    background: gold;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.hero{
    padding: 80px 20px;
    background: url("https://images.unsplash.com/photo-1503951914875-452162b0f3f1") center/cover;
}

.services{
    padding: 40px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

.modal{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.modal-content{
    background: #222;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    transform: scale(0.8);
    opacity: 0;
    transition: 0.3s ease;
}

.modal.active .modal-content{
    transform: scale(1);
    opacity: 1;
}

input{
    padding: 10px;
    font-size: 16px;
}

.hero p{
    opacity: 0.8;
    font-size: 20px;
}

.why{
    background:#181818;
    padding:60px 20px;
}

.why h2{
    margin-bottom:30px;
}

.pricing{
    padding:60px 20px;
}

.price{
    font-size:28px;
    color:gold;
    font-weight: bold;
    margin: 10px 0;
}

.cta{
    background: linear-gradient(45deg, #000, #1a1a1a);
    padding: 80px 20px;
}

.cta h2{
    font-size: 60px;
}

.cta p{
    opacity: 0.8;
    margin-bottom: 20px;
}

.cta button{
    font-size: 22px;
    padding: 15px 35px;
}